<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome Message</title>
    <link rel="stylesheet" type="text/css" href="/css/welcomepagestyles.css">
</head>
<body>

<div class="container">
    <h2>Welcome</h2>
    <p>To see a list of spaces, please click <a href="/ListOfSpaces">here</a>.</p>
    <p>To see our staff members, please click <a href="/team">here</a>.</p>
    <p>To contact us, please click <a href="/contactus">here</a>.</p>
    <p>To see our terms and conditions, please click <a href="/termsAndConditions">here</a>.</p>
    <p><a href="/logout">Logout here</a>.</p>
</div>

</body>
</html>
